{{$result := .Result}}
{{$resource := .Resource}}

{{$actions := load_actions "new"}}
{{if $actions}}
  <div class="qor-page__header">{{$actions}}</div>
{{end}}

<main class="mdl-layout__content qor-layout__tab-content has-header has-subnav">
  <div class="qor-page__body qor-page__edit">
    {{render "shared/flashes"}}
    {{render "shared/errors"}}

    <div class="qor-form-container">
      <form class="qor-form" action="{{url_for $result $resource}}" method="POST" enctype="multipart/form-data" data-action-url="{{join_url (url_for $result $resource) "!setting"}}">

        <div class="qor-layout__widget qor-layout__widget-new" data-toggle="qor.widget">
          {{render_form $result new_sections}}
        </div>

        <div class="qor-layout__widget-setting"></div>

        {{if has_update_permission $resource}}
          <div class="qor-form__actions">
            <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{t "qor_admin.form.save_changes" "Save Changes"}}</button>
            <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel" href="javascript:history.back();">{{t "qor_admin.form.cancel_edit" "Cancel Edit"}}</a>
          </div>
        {{end}}
      </form>
    </div>
  </div>
</main>
